@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('home.css');
@import url('colorlab.css');
@import url('palettes.css');
@import url('moodboard.css');
@import url('layout.css');


/* Global resets & base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    height: auto !important;  
    min-height: 100% !important;
}

body {
    font-family: 'Poppins','Arial', sans-serif;
    font-weight: 600;
    background: linear-gradient(135deg, #F5F5F5 0%, #F0F0F0 50%, #E8E8E8 100%);
    background: #F8F9FA;
    /* min-height: 100vh; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Global responsive */

 /* --------- Phones --------- */

@media (max-width: 700px) {
    .container { 
        padding: 0 0.75rem; 
    }
}

/* ---------- Tablets and small laptops ----------- */

@media (min-width: 900px) {
    .container { 
        padding: 0 1.5rem; 
    }
}



